@{
    //这里必须设置为null 因为我们前台没有用MVC的模板页 而是用的标签展示
    Layout = null;
}

@* 每个展示页面都要加入下面的引用文件 本人把所有JS Css 都用 App_Start->BundleConfig 捆绑生成 MVC特性  *@
@Styles.Render("~/Scripts/bootstrap/css/1", "~/Scripts/datatables/css/1", "~/Content/1", "~/Scripts/alertjs/themes/1", "~/Scripts/select2/css/1", "~/Scripts/iconpicker/css/1", "~/Scripts/fancyTree/skin-win7/1", "~/Scripts/fileUpload/1")
@Scripts.Render("~/bundles/js")

<script type="text/javascript">
    $(function () {
        /*初始化表格配置 本插件为DataTable 具体配置看官网 
          这里楼主进行了二次封装为了简化配置，具体可以看 Scripts -> js ->myJavaScript.js*/
        var table = $('#NewTable').custromTable({
            ajax: {
                url: "/News/GetButtonList",
                data: function (d) {
                    d.NewTitle = $("#newTitle").val();
                    return JSON.stringify(d);
                }
            },
            columns: [
                { data: 'NewId', visible: false },
                { data: 'NewTitle', title: "新闻标题" },
                { data: 'NewContent', title: "内容" },
                {
                    data: 'NewAuthor', title: "作者"
                },
                {
                    data: 'CreateTime', title: "创建时间"
                }
            ]
        });

        //查询按钮
        $("#newQuery").click(function () {
            table.ajax.reload();
        })

        //弹出用户信息层
        var openCreateNewsLayer = function () {
            mainLayer = parent.layer.open({
                type: 1,
                title: "新增新闻",
                area: ['550px', '460px'],
                closeBtn: 1,
                shadeClose: false,
                skin: 'layerStyle',
                content: $("#newsLayer").html(),
                btn: [dditConfig.btn.close, dditConfig.btn.comfrie],
                yes: function (index, layero) {
                    confrimBtn(index);
                },
                success: function (i, l) {
                    parent.$("#Newsform").FromEvent(function () {
                        //验证表单
                        $("#Newsform").validate({
                            rules: {
                                NewTitle: {
                                    required: true
                                }
                            },
                            messages: {
                                NewTitle: {
                                    required: "必填"
                                }
                            },
                            highlight: function (element) {
                                $(element).closest('.form-group').addClass('has-error');
                            },
                            success: function (label) {
                                label.closest('.form-group').removeClass('has-error');
                                label.remove();
                            }
                        })
                    })
                }
            });
        }

        //新增或修改确认按钮
        var confrimBtn = function (index) {
            var newsid = parent.$("#NewId").val();
            var newsForm = parent.$("#Newsform");
            if (newsForm.valid()) {
                var loading = parent.layer.load(2);
                newsForm.ajaxSubmit({
                    dataType: "json",
                    success: function (data) {
                        parent.layer.close(loading);
                        if (data.result) {
                            parent.layer.close(index); //隐藏弹出
                            table.ajax.reload(null, newsid == "" ? true : false);
                            alertify.success("操作成功！"); //弹出消息日志
                        } else {
                            alertify.error(data.message);
                        }
                    },
                    error: function (data) {
                        parent.layer.close(loading);
                        var obj = eval('(' + data.responseText + ')');
                        alertify.error(obj.message);
                    }
                });
            }
        }

        //新增按钮操作
        $("#newsCreate").click(function () {
            openCreateNewsLayer();
        });
    })
</script>

<div class="margin w100f xoverhide">
    <div class="panel panel-default" style="margin-top: 10px">
        <ul class="list-group">
            @Html.Action("CreateButtonByMuen", "Button", new { menuId =35, mark = "news" })
            <li class="list-group-item">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="newTitle">新闻标题</label>
                        <input type="text" class="form-control" name="newTitle" id="newTitle" placeholder="admin">
                    </div>
                    <button type="button" class="btn btn-info " id="newQuery">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <table id="NewTable" class="table table-bordered table-striped w100f" cellspacing="0"></table>
</div>

<div id="newsLayer" class="displayn">
    <form class="form-horizontal formPadding" id="Newsform" method="post" action="/News/AddorEditNewsInfo">
        @Html.Hidden("NewId")
        <div class="form-group">
            <label for="NewTitle" class="col-sm-2 control-label labsty">标题<span style="color:red">*</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" maxlength="15" name="NewTitle" id="NewTitle" placeholder="标题">
            </div>
        </div>
        <div class="form-group">
            <label for="NewContent" class="col-sm-2 control-label labsty">正文&nbsp;&nbsp;</label>
            <div class="col-sm-10 pad-r20">
                <input type="text" class="form-control" name="NewContent" maxlength="200" id="NewContent">
            </div>
        </div>
        <div class="form-group">
            <label for="NewAuthor" class="col-sm-2 control-label labsty">作者<span style="color:red">*</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" maxlength="15" name="NewAuthor" id="NewAuthor" placeholder="作者">
            </div>
        </div>
    </form>
</div>